@media(max-width: 940px){

    .banner .cabecalho .logo{
        margin-top: 30px;
        width: 150px;
        height: 110px;
    }

    .banner .container-titulo{
        height: 72%;
    }

    .banner .container-titulo .titulo{
        font-size: 60px;
        margin-top: 50px;
    }

    .banner .container-titulo .subtitulo{
        font-size: 25px;
    }

    .produtos .titulo{
        font-size: 45px;
    }

    .produtos .link-nelore .nelore, .produtos .link-angus .angus{
        width: 228px;
        height: 217px;
        background-repeat: no-repeat;
    }

    .produtos .link-nelore .subtitulo, .produtos .link-angus .subtitulo{
        font-size: 35px;
    }

    .sobre .texto-sobre{
        max-width: 50%;
        font-size: 30px;
    }
     
    .sobre .texto-sobre span{
        font-size: 30px;
    }

    .rodape .container-rodape{
        justify-content: space-between;
        flex-direction: column;
    }

    .rodape .container-rodape .contato-tel .titulo{
        font-size: 35px;
    }

    .rodape .container-rodape .contato-logo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .rodape .container-rodape .contato-logo .rodape-logo{
        display: none;
    }

    .rodape .container-rodape .contato-tel, .contato-tel .tel-container{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contato-tel .tel-container, .rodape .container-rodape .contato-tel .link-whats-container .link-whats{
        font-size: 25px;
    }
}

@media(max-width: 830px){

    .banner .container-titulo .titulo{
        font-size: 45px;
        margin-top: 50px;
    }

    .produtos{
        height: 90vh;
        background-repeat: no-repeat;
    }

    .produtos .titulo{
        font-size: 45px;
        margin: 20px 0;
    }

    .produtos .link-nelore .nelore, .produtos .link-angus .angus{
        width: 178px;
        height: 167px;
        background-repeat: no-repeat;
    }

    .produtos .link-nelore .subtitulo, .produtos .link-angus .subtitulo{
        font-size: 30px;
    }

    .produtos .link-nelore .subtitulo, .produtos .link-angus .subtitulo{
        font-size: 35px;
        margin-bottom: 30px;
    }

    .sobre .texto-sobre{
        max-width: 60%;
        font-size: 26px;
    }

    .sobre .texto-sobre span{
        font-size: 26px;
    }
}

@media(max-width: 750px){

    .banner .cabecalho .logo{
        width: 130px;
        height: 90px;
        margin-top: -10px;
    }

    .banner .container-titulo .titulo{
        font-size: 40px;
    }

    .banner .container-titulo .subtitulo{
        font-size: 20px;
    }

    .produtos{
        background-size: cover;
        gap: 50px;
        height: 620px;
    }

    .produtos .titulo{
        font-size: 35px;
    }

    .produtos .container-produtos{
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        gap: 20px;
    }

    .produtos .link-nelore .nelore, .produtos .link-angus .angus{
        width: 168px;
        height: 157px;
        margin-bottom: 13px;
        background-repeat: no-repeat;
    }

    .produtos .link-nelore .subtitulo, .produtos .link-angus .subtitulo{
        font-size: 30px;
    }

    .sobre{
        height: 660px;
    }

    .sobre .texto-sobre{
        max-width: 60%;
        font-size: 22px;
    }
    
    .sobre .texto-sobre span{
        font-size: 22px;
    }

    .rodape .container-rodape{
        justify-content: space-between;
        flex-direction: column;
    }

    .rodape .container-rodape .contato-tel .titulo{
        font-size: 35px;
    }
}

@media(max-width: 600px){

    .banner{
        height: 75vh;
        background-position: -5px;
    }

    .banner .container-titulo{
        height: 65%;
    }

    .produtos .titulo{
        font-size: 30px;
        margin: 50px 0 70px 0;
    }

    .sobre{
        background-position: left;
    }

    .sobre .texto-sobre{
        max-width: 80%;
        font-size: 20px;
        text-align: center;
    }
    
    .sobre .texto-sobre span{
        font-size: 20px;
    }

    .contato-tel .tel-container{
        font-size: 23px;
    }

    .rodape .container-rodape .contato-tel .titulo{
        font-size: 27px;
        text-align: center;
    }

    .rodape .container-rodape .contato-tel .link-whats-container{
        width: 300px;
        height: 75px;
    }

    .fa-whatsapp-square{
        font-size: 40px;
    }

    .contato-tel .tel-container .fa-phone-square{
        font-size: 40px;
    }

    .rodape .container-rodape .contato-tel .link-whats-container .link-whats{
        font-size: 23px;
    }
}

@media(max-width: 360px){

    .rodape .container-rodape .contato-tel .titulo{
        font-size: 25px;
    }

    .contato-tel .tel-container{
        font-size: 20px;
    }

    .rodape .container-rodape .contato-tel .link-whats-container .link-whats{
        font-size: 20px;
    }
}